# Ignore the ci/ directory and everything inside it
ci/

# Ignore the module-assets/ directory and everything inside it
module-assets/

.terraform/
.terraform.lock.hcl
.pre-commit-config.yaml
.secrets.baseline
.DS_Store
.lock
settings.json
terraform.tfstate*
.terraform.tfstate*
solutions/private/si/input.auto.tfvars
.vscode
solutions/private/si/*.tfvars
solutions/private/rac/*.tfvars
